*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style:none
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
   
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}    

.header__menu {
    margin-left: 60px;
}

@media (max-width: 992px)  {
   .header__menu {
        margin-left: 80px;
   }
}

@media (max-width: 767px)  {
    .header__menu {
         margin-left: 50px;
    }
 }

 @media (max-width: 479px)  {
    .header__menu {
         margin-left: 20px;
    }
 }

.menu {
    padding: 5px 0;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
}

.menu__item {

}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: var(--gray-800, #424551);
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

.menu__item-contact,
.menu__item-email {
    margin-left: 172px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__phone-text,
.menu__email-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    margin-left: 12px;
}

.menu__item-email {
    margin-left: 36px;
}

@media (max-width: 1100px)  {
    .menu__item-contact,
    .menu__item-email {
         margin-left: 40px;
    }
 }

 @media (max-width: 992px)  {
    .menu__item-contact,
    .menu__item-email {
         margin-left: 0px;
    }
 }


.page {
   
}

.page__main-block {
    margin-top:92px;
}

@media (max-width: 767px)  {
    .page__main-block {
        margin-top: 120px;
    }
 }

 @media (max-width: 479px)  {
    .page__main-block {
        margin-top: 200px;
    }
 }


.footer {

}


.main-block {
    position: relative;
}

.main-block__container {

}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 577px;
}


.main-block__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.main-block__buttons {
    margin-top: 61px;
    display: inline-flex;
}



.main-block__button {
    border-radius: 4px;
    color: white;
    padding: 0 40px;
    line-height: 52px;
    text-align:center;
    font-size: 16px;
    font-weight: 700;
}
@media (max-width: 767px)  {
    .main-block__button {
        padding: 0 20px;
    }
 }
.main-block__title {
    color:  #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
}

@media (max-width: 767px)  {
    .main-block__title {
        font-size: 40px;
    }
 }


.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.learn_border {
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
    margin-right: 24px;
}

.submit_border {
    border: 0;
    background-color: #FF5A30;
}

.main-block__numbers {
    margin-top: 179px;
    display: flex;
    flex-direction: row;
}

.main-block__number_text_1,
.main-block__number_text {
    color:white;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    width: 178px;
    border-bottom: 2px solid white; 
    display: inline-block; 
    padding-bottom: 12px; 
    margin-right:4px;
}

.main-block__number_text {
    opacity: 0.6;
}

.arrow_left,
.arrow_right {
    z-index: 3;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px)  {
    .arrow_left,
    .arrow_right{
        top: 60%;
    }
 }

 @media (max-width: 479px)  {
    .arrow_left,
    .arrow_right{
        top: 70%;
    }
 }

.arrow_left {
    left: 32px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50%;
}

.arrow_right {
    right: 32px;
    background-color: white;
    border-radius: 50%;
}

.arrow_left_icon_slide_2,
.arrow_right_icon_slide_2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-block__body {
    padding: 120px 0px 0px 0px;
    position: relative;
    max-width: 1230px;
}

@media (max-width: 767px)  {
    .second-block__body{
        padding: 50px 0px 168px 0px;
    }
 }

 @media (max-width: 479px)  {
    .second-block__body{
        padding: 20px 0px 168px 0px;
    }
 }

.second-block__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-block__title {
    color: #1E212C;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
}

.second-block__description {
    margin-top:24px;
    margin-bottom: 60px;
    color: #787A80;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.second-block__video {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.second-block__image-slide-2 {
    display: block;
    width: 100%;
    height: auto;
}

.second-block__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.second-block__play-button,
.second-block__sound-icon {
    position: absolute;
    transform: translate(-50%, -50%);
}

.second-block__play-button {
    left: 50%;
    top: 50%;
}

@media (max-width: 767px)  {
    .second-block__play-button {
        height: 40px;
        width: 40px;
    }
 }

 @media (max-width: 479px)  {
    .second-block__play-button {
        height: 20px;
        width: 20px;
    }
 }

.second-block__sound-icon {
    left: 32px;
    bottom: 32px;
}

.second-block__values-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    margin-top: 180px;
}

.second-block__core-values {
    display:flex;
    flex-direction:column;
    margin-top: 60px;
    text-align: center;
}

.second-block__values-description {
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top: 60px;
}

.second-block__core-values-text {
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
}

.second-block__mission-text {
    color: #787A80;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.second-block__value-description-1,
.second-block__value-description-2,
.second-block__value-description-3 {
    max-width: 285px;   
}

.second-block__value-description-1,
.second-block__value-description-2 {
    margin-right: 94px;
}


.second-block__divider {
    width: 1px;
    height: 188px;
    background: rgba(218, 219, 221, 0.5) ;
    margin-right: 94px;
}

.second-block__quality-icon,
.second-block__safety-icon,
.second-block__comfort-icon {
    margin-bottom: 24px;
}

.second-block__quality-text,
.second-block__safety-text,
.second-block__comfort-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

@media (max-width: 767px)  {
    .second-block__value-description-1,
    .second-block__value-description-2 {
        margin-right: 44px;
    }
 }

 @media (max-width: 500px)  {
    .second-block__value-description-1,
    .second-block__value-description-2,
    .second-block__divider {
        margin-right: 10px;
    }
 }

 .contact-form-block__body {
    padding: 180px 100px 0px 200px;
    position: absolute;
    max-width: 1230px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    z-index: 5;
}


.contact_form__question_text {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 32px;
}

.contact-form__fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.contact-form__field {
    flex: 1;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.contact-form__button {
    margin-top: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    background-color: #FF5A30;
    color: white;
    padding: 0px 32px;
    align-items: center;
    border-radius: 4px;
    border: 0;
    margin-right: 60px;
}

.contact-form__field:first-child {
    margin-left: 60px;
}

.contact-form__text-name,
.contact-form__text-phone,
.contact-form__text-message {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
    text-align: left;
}

.contact-form__place-name,
.contact-form__place-phone,
.contact-form__place-message {
    padding: 11px 12px 16px;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--gray-200, #F4F5F6);
}

.contact-form__place-message {
    padding: 11px 12px 16px;
}

@media (max-width: 1045px) {
    .contact-form-block__body {
        padding: 180px 100px 0px 20px;
    }
}

@media (max-width: 830px) {
    .contact-form-block__body {
        margin-left: 150px;
        padding: 0px 0px 0px 0px;
    }
    .contact-form__fields {
        flex-direction: column;
        align-items: center;
    }

    .contact-form__field {
        flex: 0 0 100%;
        margin-bottom: 0px;
    }
    .contact-form__field:first-child {
        margin-left: 0px;
    }
}

@media (max-width: 650px) {
    .contact-form-block__body {
        margin-left: 50px;
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 550px) {
    .contact-form-block__body {
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
}

.third-page__image {
    background: #F4F5F6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; 
} 

.third-page__main-block {
    margin-top:300px;
}

.third-page__body {
    padding: 212px 0px 85px 0px;
    position: relative;
    max-width: 1230px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.third-page__services-text {
    background-color: #F4F5F6;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 24px;
}

.third-page__services-description {
    color: #787A80;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}

.third-page__four-services {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.third-page__service,
.third-page__service-development,
.third-page__service-design,
.third-page__service-repairs {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    margin-right: 30px;
    padding: 89px 80px 90px 80px;

}

.third-page__service-development {
    padding: 89px 40.5px 90px 40.5px;
}

.third-page__service-design {
    padding: 89px 70.5px 90px 70.5px;
    background-image: url('../images/third_slide.jpg');
    opacity: 0.6;
    z-index: 2;
}

.third-page__service-repairs {
    padding: 89px 100px 90px 100px;
}



.interior-design-text {
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}


.third-page__text-service {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%
}

.third-page__learn {
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third-page__learn_text {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%; 
    margin-right: 40px;
}

.third-page__services_button {
    border: 0;
    padding: 0px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FF5A30;
    color:  #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: 0.5px;
}