*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style:none
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
   
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}    

.header__menu {
    margin-left: 60px;
}

@media (max-width: 992px)  {
   .header__menu {
        margin-left: 80px;
   }
}

@media (max-width: 767px)  {
    .header__menu {
         margin-left: 50px;
    }
 }

 @media (max-width: 479px)  {
    .header__menu {
         margin-left: 20px;
    }
 }

.menu {
    padding: 5px 0;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
}

.menu__item {

}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: var(--gray-800, #424551);
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

.menu__itemContact,
.menu__itemEmail {
    margin-left: 172px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__phoneText,
.menu__emailText {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    margin-left: 12px;
}

.menu__itemEmail {
    margin-left: 36px;
}

@media (max-width: 1100px)  {
    .menu__itemContact,
    .menu__itemEmail {
         margin-left: 40px;
    }
 }

 @media (max-width: 992px)  {
    .menu__itemContact,
    .menu__itemEmail {
         margin-left: 0px;
    }
 }


.page {
   
}

.page__main-block {
    margin-top:92px;
}

@media (max-width: 767px)  {
    .page__main-block {
        margin-top: 120px;
    }
 }

 @media (max-width: 479px)  {
    .page__main-block {
        margin-top: 200px;
    }
 }


.footer {

}


.main-block {
    position: relative;
}

.main-block__container {

}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 577px;
}


.main-block__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.main-block__buttons {
    margin-top: 61px;
    display: inline-flex;
}



.main-block__button {
    border-radius: 4px;
    color: white;
    padding: 0 40px;
    line-height: 52px;
    text-align:center;
    font-size: 16px;
    font-weight: 700;
}
@media (max-width: 767px)  {
    .main-block__button {
        padding: 0 20px;
    }
 }
.main-block__title {
    color:  #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
}

@media (max-width: 767px)  {
    .main-block__title {
        font-size: 40px;
    }
 }


.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.learn_border {
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
    margin-right: 24px;
}

.submit_border {
    border: 0;
    background-color: #FF5A30;
}

.main-block__numbers {
    margin-top: 179px;
    display: flex;
    flex-direction: row;
}

.main-block__number_text_1,
.main-block__number_text {
    color:white;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    width: 178px;
    border-bottom: 2px solid white; 
    display: inline-block; 
    padding-bottom: 12px; 
    margin-right:4px;
}

.main-block__number_text {
    opacity: 0.6;
}