.header {
    background-color:white;
    display: flex;
    flex-direction: row;
    position:fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index:100;
}

.header__logo {
    margin-left:345px;
    width: 130px;
    height: 22px;
}

.header__text {
    display: flex;
    flex-direction: row;
}

.header__p {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
}

.header__contact {
    margin-right:345px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__phone_icon,
.header__chat_icon {
    margin-right: 12px;
}
.header__phone_text,
.header__chat_text {
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-right: 36px;
}

.header__call_text,
.header__talk_text {
    font-size: 14px;
    font-weight: 700;
}

.header__phone_number_text,
.header__email_text {
    font-size: 18px;
    font-weight: 400;
}
